In [2]:
import pandas as pd

In [3]:
TB_estimates1 = pd.read_csv('TB_burden_countries_2025-06-07.csv')
TB_estimates1.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_100k_lo,e_inc_100k_hi,...,cfr,cfr_lo,cfr_hi,cfr_pct,cfr_pct_lo,cfr_pct_hi,c_newinc_100k,c_cdr,c_cdr_lo,c_cdr_hi
0,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,122.0,271.0,...,0.37,0.17,0.61,37.0,17.0,61.0,35.0,19.0,13.0,29.0
1,Afghanistan,AF,AFG,4,EMR,2001,20284311,189.0,122.0,271.0,...,0.35,0.16,0.56,35.0,16.0,56.0,50.0,26.0,18.0,41.0
2,Afghanistan,AF,AFG,4,EMR,2002,21378110,189.0,122.0,270.0,...,0.31,0.15,0.51,31.0,15.0,51.0,65.0,34.0,24.0,53.0
3,Afghanistan,AF,AFG,4,EMR,2003,22733047,189.0,122.0,270.0,...,0.32,0.15,0.52,32.0,15.0,52.0,61.0,32.0,23.0,50.0
4,Afghanistan,AF,AFG,4,EMR,2004,23560660,189.0,122.0,270.0,...,0.28,0.13,0.46,28.0,13.0,46.0,78.0,41.0,29.0,64.0

In [4]:
TB_estimates1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5117 entries, 0 to 5116
Data columns (total 50 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   5117 non-null   object
 1   iso2                      5093 non-null   object
 2   iso3                      5117 non-null   object
 3   iso_numeric               5117 non-null   int64
 4   g_whoregion               5117 non-null   object
 5   year                      5117 non-null   int64
 6   e_pop_num                 5117 non-null   int64
 7   e_inc_100k                5117 non-null   float64
 8   e_inc_100k_lo             5117 non-null   float64
 9   e_inc_100k_hi             5117 non-null   float64
 10  e_inc_num                 5117 non-null   int64
 11  e_inc_num_lo              5117 non-null   int64
 12  e_inc_num_hi              5117 non-null   int64
 13  e_tbhiv_prct              4429 non-null   float64
 14  e_tbhiv_prct_lo           4429 non-null   float64
 15  e_tbhiv_prct_hi           4429 non-null   float64
 16  e_inc_tbhiv_100k          4429 non-null   float64
 17  e_inc_tbhiv_100k_lo       4429 non-null   float64
 18  e_inc_tbhiv_100k_hi       4429 non-null   float64
 19  e_inc_tbhiv_num           4429 non-null   float64
 20  e_inc_tbhiv_num_lo        4429 non-null   float64
 21  e_inc_tbhiv_num_hi        4429 non-null   float64
 22  e_mort_exc_tbhiv_100k     5093 non-null   float64
 23  e_mort_exc_tbhiv_100k_lo  5093 non-null   float64
 24  e_mort_exc_tbhiv_100k_hi  5093 non-null   float64
 25  e_mort_exc_tbhiv_num      5093 non-null   float64
 26  e_mort_exc_tbhiv_num_lo   5093 non-null   float64
 27  e_mort_exc_tbhiv_num_hi   5093 non-null   float64
 28  e_mort_tbhiv_100k         5093 non-null   float64
 29  e_mort_tbhiv_100k_lo      5093 non-null   float64
 30  e_mort_tbhiv_100k_hi      5093 non-null   float64
 31  e_mort_tbhiv_num          5093 non-null   float64
 32  e_mort_tbhiv_num_lo       5093 non-null   float64
 33  e_mort_tbhiv_num_hi       5093 non-null   float64
 34  e_mort_100k               5093 non-null   float64
 35  e_mort_100k_lo            5093 non-null   float64
 36  e_mort_100k_hi            5093 non-null   float64
 37  e_mort_num                5093 non-null   float64
 38  e_mort_num_lo             5093 non-null   float64
 39  e_mort_num_hi             5093 non-null   float64
 40  cfr                       4989 non-null   float64
 41  cfr_lo                    4989 non-null   float64
 42  cfr_hi                    4989 non-null   float64
 43  cfr_pct                   4989 non-null   float64
 44  cfr_pct_lo                4989 non-null   float64
 45  cfr_pct_hi                4989 non-null   float64
 46  c_newinc_100k             4930 non-null   float64
 47  c_cdr                     4822 non-null   float64
 48  c_cdr_lo                  4822 non-null   float64
 49  c_cdr_hi                  4822 non-null   float64
dtypes: float64(40), int64(6), object(4)
memory usage: 2.0+ MB

In [5]:
TB_est2= pd.read_csv('MDR_RR_TB_burden_estimates_2025-06-06.csv')
TB_est2.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,source_rr_new,e_rr_pct_new,e_rr_pct_new_lo,e_rr_pct_new_hi,source_rr_ret,e_rr_pct_ret,e_rr_pct_ret_lo,e_rr_pct_ret_hi,e_inc_rr_num,e_inc_rr_num_lo,e_inc_rr_num_hi,e_rr_in_notified_labconf_pulm,e_rr_in_notified_labconf_pulm_lo,e_rr_in_notified_labconf_pulm_hi
0,Afghanistan,AF,AFG,4,EMR,2015,Surveillance,2.6,1.0,5.6,Surveillance,23.0,19.0,27.0,1900,120,3600,420.0,170.0,930.0
1,Afghanistan,AF,AFG,4,EMR,2016,Surveillance,2.5,1.1,5.0,Surveillance,21.0,18.0,24.0,1800,300,3400,490.0,130.0,840.0
2,Afghanistan,AF,AFG,4,EMR,2017,Surveillance,2.4,1.2,4.4,Surveillance,19.0,17.0,22.0,1800,470,3200,900.0,580.0,1200.0
3,Afghanistan,AF,AFG,4,EMR,2018,Surveillance,2.3,1.3,3.9,Surveillance,18.0,16.0,19.0,1800,630,3000,780.0,520.0,1000.0
4,Afghanistan,AF,AFG,4,EMR,2019,Surveillance,2.3,1.5,3.5,Surveillance,16.0,15.0,17.0,1800,760,2900,700.0,460.0,950.0

In [6]:
TB_est2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1935 entries, 0 to 1934
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   country                           1935 non-null   object
 1   iso2                              1926 non-null   object
 2   iso3                              1935 non-null   object
 3   iso_numeric                       1935 non-null   int64
 4   g_whoregion                       1935 non-null   object
 5   year                              1935 non-null   int64
 6   source_rr_new                     1935 non-null   object
 7   e_rr_pct_new                      1935 non-null   float64
 8   e_rr_pct_new_lo                   1935 non-null   float64
 9   e_rr_pct_new_hi                   1935 non-null   float64
 10  source_rr_ret                     1935 non-null   object
 11  e_rr_pct_ret                      1935 non-null   float64
 12  e_rr_pct_ret_lo                   1935 non-null   float64
 13  e_rr_pct_ret_hi                   1935 non-null   float64
 14  e_inc_rr_num                      1935 non-null   int64
 15  e_inc_rr_num_lo                   1935 non-null   int64
 16  e_inc_rr_num_hi                   1935 non-null   int64
 17  e_rr_in_notified_labconf_pulm     1880 non-null   float64
 18  e_rr_in_notified_labconf_pulm_lo  1880 non-null   float64
 19  e_rr_in_notified_labconf_pulm_hi  1880 non-null   float64
dtypes: float64(9), int64(5), object(6)
memory usage: 302.5+ KB

From the data, we can analyze quite a number of things just to gauge the TB high risk regions. We can focus on the most relevant epidemiologically relevant features.

### Key Predictive Features for TB Risk:

##### 1. Direct incidence metrics(targets)
We use the variables that represent incidence in the different regions:

e_inc_100k - Estimated TB incidence per 100k population

e_inc_num - Absolute number of new TB cases and 

e_inc_tbhiv_100k - TB-HIV coinfection rate (HIV increases TB risk).

##### 2. Mortality and Severity Indicators
e_mort_100k: TB mortality rate (high mortality â‰ˆ poor healthcare access).

e_mort_tbhiv_num: Deaths in HIV+ TB patients (indicates comorbid severity).

cfr_pct: Case fatality ratio (untreated TB burden).

##### 3. Drug Resistance (Critical for Outbreak Risk)
e_inc_rr_num: Rifampicin-resistant TB cases (harder to treat).

e_rr_pct_new: % of new TB cases with drug resistance.

##### 4. Healthcare System Performance
c_cdr: Case detection rate (low â‰ˆ underdiagnosis).

e_rr_in_notified_labconf_pulm: Lab-confirmed resistant TB (data quality signal).

##### 5. HIV Coinfection (Major Risk Multiplier)
e_tbhiv_prct: % of TB cases with HIV (strong risk factor).

So now we'll subset the data to remain with relevant columns

In [17]:
TB1= TB_estimates1[['country','iso2','iso3','iso_numeric','g_whoregion','year','e_pop_num','e_inc_100k','e_inc_num','e_inc_tbhiv_100k',
         'e_mort_100k','e_mort_tbhiv_num','cfr_pct','c_cdr','e_tbhiv_prct','e_mort_tbhiv_100k'
         ]]

TB1

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_num,e_inc_tbhiv_100k,e_mort_100k,e_mort_tbhiv_num,cfr_pct,c_cdr,e_tbhiv_prct,e_mort_tbhiv_100k
0,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,68.0,34.0,37.0,19.0,0.02,0.17
1,Afghanistan,AF,AFG,4,EMR,2001,20284311,189.0,38000,0.03,63.0,61.0,35.0,26.0,0.01,0.30
2,Afghanistan,AF,AFG,4,EMR,2002,21378110,189.0,40000,0.03,57.0,58.0,31.0,34.0,0.01,0.27
3,Afghanistan,AF,AFG,4,EMR,2003,22733047,189.0,43000,0.03,58.0,66.0,32.0,32.0,0.01,0.29
4,Afghanistan,AF,AFG,4,EMR,2004,23560660,189.0,44000,0.03,52.0,67.0,28.0,41.0,0.01,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5112,Zimbabwe,ZW,ZWE,716,AFR,2019,15271376,199.0,30000,119.00,43.0,4800.0,22.0,69.0,60.00,31.00
5113,Zimbabwe,ZW,ZWE,716,AFR,2020,15526885,188.0,29000,112.00,44.0,4800.0,24.0,54.0,61.00,31.00
5114,Zimbabwe,ZW,ZWE,716,AFR,2021,15797209,199.0,31000,120.00,49.0,5400.0,25.0,52.0,62.00,34.00
5115,Zimbabwe,ZW,ZWE,716,AFR,2022,16069054,209.0,34000,127.00,52.0,5900.0,26.0,54.0,63.00,37.00
5116,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,35000,127.00,48.0,5500.0,24.0,56.0,62.00,34.00

For the drug resistance data

In [18]:
drug_resistance= TB_est2[['country','e_inc_rr_num', 'e_rr_pct_new', 'e_rr_in_notified_labconf_pulm']]

drug_resistance

          country  e_inc_rr_num  e_rr_pct_new  e_rr_in_notified_labconf_pulm
0     Afghanistan          1900           2.6                          420.0
1     Afghanistan          1800           2.5                          490.0
2     Afghanistan          1800           2.4                          900.0
3     Afghanistan          1800           2.3                          780.0
4     Afghanistan          1800           2.3                          700.0
...           ...           ...           ...                            ...
1930     Zimbabwe          1200           3.0                          430.0
1931     Zimbabwe           970           2.6                          290.0
1932     Zimbabwe           910           2.2                          250.0
1933     Zimbabwe           850           1.9                          250.0
1934     Zimbabwe           760           1.6                          220.0

[1935 rows x 4 columns]

In [19]:
TBdf= pd.merge(TB1, drug_resistance, on='country', how='inner')  # or how='left', 'outer'
TBdf

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_num,e_inc_tbhiv_100k,e_mort_100k,e_mort_tbhiv_num,cfr_pct,c_cdr,e_tbhiv_prct,e_mort_tbhiv_100k,e_inc_rr_num,e_rr_pct_new,e_rr_in_notified_labconf_pulm
0,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,68.0,34.0,37.0,19.0,0.02,0.17,1900,2.6,420.0
1,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,68.0,34.0,37.0,19.0,0.02,0.17,1800,2.5,490.0
2,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,68.0,34.0,37.0,19.0,0.02,0.17,1800,2.4,900.0
3,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,68.0,34.0,37.0,19.0,0.02,0.17,1800,2.3,780.0
4,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,68.0,34.0,37.0,19.0,0.02,0.17,1800,2.3,700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46048,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,35000,127.00,48.0,5500.0,24.0,56.0,62.00,34.00,1200,3.0,430.0
46049,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,35000,127.00,48.0,5500.0,24.0,56.0,62.00,34.00,970,2.6,290.0
46050,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,35000,127.00,48.0,5500.0,24.0,56.0,62.00,34.00,910,2.2,250.0
46051,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,35000,127.00,48.0,5500.0,24.0,56.0,62.00,34.00,850,1.9,250.0
46052,Zimbabwe,ZW,ZWE,716,AFR,2023,16340822,211.0,35000,127.00,48.0,5500.0,24.0,56.0,62.00,34.00,760,1.6,220.0

### 1. Direct incidence metrics(targets)

#### Feature engineering

In [20]:
TBdf['e_inc_100k'].value_counts(sort=True)

e_inc_100k
0.0      1152
12.0      720
13.0      603
11.0      558
16.0      540
         ...
400.0       9
331.0       9
204.0       9
297.0       9
416.0       9
Name: count, Length: 702, dtype: int64

We add to high risk columns for incidence rates and mortality rates for TB and TB-HIV.

In [21]:
# Add a high-risk column (1 if high TB incidence, else 0)
# Defined the column-to-newname mapping
columns_to_bin = {
    'e_inc_100k': 'high_risk',
    'e_inc_tbhiv_100k': 'risk_tbhiv',
    'e_mort_100k': 'mortality_risk',
    'e_mort_tbhiv_100k': 'mortTBHIV_risk'
}

# Applied the threshold binning using a loop
for col, new_col in columns_to_bin.items():
    TBdf[new_col] = TBdf[col].apply(lambda x: 1 if x >= 100 else 0)

In [22]:
TBdf.head()

,country,iso2,iso3,iso_numeric,g_whoregion,year,e_pop_num,e_inc_100k,e_inc_num,e_inc_tbhiv_100k,...,c_cdr,e_tbhiv_prct,e_mort_tbhiv_100k,e_inc_rr_num,e_rr_pct_new,e_rr_in_notified_labconf_pulm,high_risk,risk_tbhiv,mortality_risk,mortTBHIV_risk
0,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,...,19.0,0.02,0.17,1900,2.6,420.0,1,0,0,0
1,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,...,19.0,0.02,0.17,1800,2.5,490.0,1,0,0,0
2,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,...,19.0,0.02,0.17,1800,2.4,900.0,1,0,0,0
3,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,...,19.0,0.02,0.17,1800,2.3,780.0,1,0,0,0
4,Afghanistan,AF,AFG,4,EMR,2000,20130323,190.0,38000,0.03,...,19.0,0.02,0.17,1800,2.3,700.0,1,0,0,0

In [13]:
TBdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46053 entries, 0 to 46052
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        46053 non-null  object
 1   iso2                           45837 non-null  object
 2   iso3                           46053 non-null  object
 3   iso_numeric                    46053 non-null  int64
 4   g_whoregion                    46053 non-null  object
 5   year                           46053 non-null  int64
 6   e_pop_num                      46053 non-null  int64
 7   e_inc_100k                     46053 non-null  float64
 8   e_inc_num                      46053 non-null  int64
 9   e_inc_tbhiv_100k               39861 non-null  float64
 10  e_mort_100k                    45837 non-null  float64
 11  e_mort_tbhiv_num               45837 non-null  float64
 12  cfr_pct                        44901 non-null  float64
 13  c_cdr                          43398 non-null  float64
 14  e_tbhiv_prct                   39861 non-null  float64
 15  e_inc_rr_num                   46053 non-null  int64
 16  e_rr_pct_new                   46053 non-null  float64
 17  e_rr_in_notified_labconf_pulm  44783 non-null  float64
 18  high_risk                      46053 non-null  int64
dtypes: float64(9), int64(6), object(4)
memory usage: 6.7+ MB

### Feature selection

In [15]:
features = [
    'e_inc_tbhiv_100k',  # HIV-TB coinfection rate
    'c_cdr',            # Case detection rate
    'cfr_pct',          # Case fatality rate
    'e_mort_100k',      # Mortality rate
    'e_pop_num'         # Population (log-transform if skewed)
]

Log transform the population column

In [ ]:
X_train.isna().sum()

In [14]:
#checking for imbalanced class
TBdf['high_risk'].value_counts()

e_pop_num
19816       18
107536      18
68846       18
10034       18
112447      18
            ..
64058467     9
63733780     9
63417352     9
63106470     9
16340822     9
Name: count, Length: 5108, dtype: int64